<h1>About </h1>
<p>
	<%= link_to "Deals Out", "http://dealsout.com" %>
	is a project to show deals on awesome products available online! 
</p>
<p>
	This project was created with the help of
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> to teach myself programming.
</p>