<div class="hero-unit">
		<h1>Welcome to Deals Out!</h1>
	<p>
		Bringing you a deal with a story behind the product.
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>