<tr>
<td><%= deal.description %></td>
<td><%= link_to 'Show', deal %></td>
<td><%= link_to 'Edit', edit_deal_path(deal) %></td>
<td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>