<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			<%= @deal.description %>
			</p>
			<%= link_to 'Edit', edit_deal_path(@deal) %> |
			<%= link_to 'Back', deals_path %>
		</div>
	</div>
</div>
